.footerSite{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
position: fixed;
bottom: 0;
color:#666666;
}

.footerSite p{
    color:black;
}
